@import 'presets';

*:not(a) {
  @include user-select(none);
  cursor: default;
}

body {
  animation: fadeInOpacity 1000ms;
  -webkit-animation: fadeInOpacity 1000ms;
  -moz-animation: fadeInOpacity 1000ms;
}

body, button, input, input::placeholder {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 28px;
  font-weight: 400;
  color: #020075;

  // overflow: auto;

  margin: 0;
  padding: 0;
  outline: none;
  border: none;

}

.showHeaderArea {
  height: 64px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  // pointer-events: none;
  // background-color: blue;
}

.app {
  width: 100vw;
  // display: grid;
  // grid-template-columns: 64px 840px 1fr;
  //
  // margin-left: 36px;
  // margin-right: 36px;
}

.mw {
  width: calc(100% - 72px);
  max-width: 840px;

  margin: 0 auto;

  margin-left: 36px;
  margin-right: 36px;
}

.mk--img {
  animation: fadeInOpacity 1000ms;
  -webkit-animation: fadeInOpacity 1000ms;
  -moz-animation: fadeInOpacity 1000ms;

  height: 400vh;
  width: 100vw;
  // background: linear-gradient(white, blue);
  position: relative;

  > div {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;

    > img {
      min-height: 100vh;
      min-width: 100vw;
      height: 100%;
    }
  }

  > label {
    position: fixed;
    top: 70px;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;
  }
}
.mk--header {
  // @include transition(height, 250ms);
  @include transition(all, 250ms);
  position: fixed;
  left: 0;
  width: 100vw;
  height: 64px;
  background-color: rgba(255,255,255,0);
  z-index: 999;
  overflow: hidden;

  .bg {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    position: absolute;
    height: 64px;
    width: 100%;
    z-index: 999;
  }

  &.hide {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .mw {
    height: 100%;
  }

  &.bottom {
    background-color: rgba(255,255,255,.5);
    box-shadow: 0 1px 1px 0 rgba(2,0,117,.1), 0 0px 48px 0 rgba(2,0,117,.03);
    .links > div:hover {
      background-color: rgba(2,0,117,.03);
    }
  }

  img {
    @include border-radius(1000px);
    height: 28px;
    width: 28px;
    margin-right: 12px;
    z-index: 1000;

  }
  span {
    @include user-select(none);
    font-size: 20px;
    font-weight: 800;
    opacity: 1;
    padding-right: 28px;
    z-index: 1000;
    white-space: nowrap;

  }
  .links {
    height: 100%;
    padding-left: -12px;

    > div {
      @include transition(all, 300ms);
      @include border-radius(6px);
      @include user-select(none);

      height: 42px;
      line-height: 42px;

      padding-left: 16px;
      padding-right: 16px;

      font-size: 14px;
      font-weight: 600;
      color: rgba(2,0,117,.75);
      margin-left: 12px;

      &:nth-child(1) { margin-left: 0 }

      &:hover {
        background-color: rgba(2,0,117,.03);
      }
    }
  }
  .link_cont {
    overflow-x: auto;
    z-index: 1000;
    height: 100%;
  }
}
.mk--hero {
  @include transition(all, 300ms);
  @include border-radius(20px);
  @include user-select(none);

  background: linear-gradient(143.33deg, #FFB3A9 8.29%, #F472FF 28.24%, rgba(251, 92, 137, 0.756255) 52.9%, rgba(255, 83, 83, 0.645833) 67.26%, rgba(255, 71, 97, 0.697214) 76.79%, #FF00B8 93.43%);
  height: calc(100vh - 64px - 28px - 28px - 88px);
  min-height: 280px;
  // max-height: 640px;
  box-shadow: 0 28px 64px 0 rgba(2,0,117,.25);

  @include tabletandmobile {
    height: auto;
    padding-top: 128px;
    padding-bottom: 128px;
    min-height: 0;
  }

  h2, h3 {
    font-size: calc(min(6vw, 70px));
    color: white;
    margin: 0;
    padding: 0;

    @include tabletandmobile {
      font-size: 8vw;
    }
  }
  h2 {
    font-weight: 400;
  }
  h3 {
    font-weight: 800;
  }
}
.top-divid {
  height: 188px;
  @include tabletandmobile {
    height: 108px;
  }
}
.mk--intro {
  > div {
    padding-top: 128px;
    margin-left: 7vw;
    margin-right: 7vw;

    font-size: 28px;
    // width: calc(840px - 14vw);
    line-height: 40px;
    text-align: justify;
    width: auto;

    @include tabletandmobile {
      text-align: left;
      margin-top: 28px;
    }

    h1 {
      font-weight: 800;
      margin-top: 0;
      font-size: 36px;
    }

    > p > a {
      @include transition(all, 300ms);
      text-decoration: none;
      border-bottom: 3px solid transparent;
      color: #2400FF;
      font-weight: 700;
      &:hover {
        border-bottom: 3px solid #2400FF;
      }
    }

    > div {
      @include tabletandmobile {
        @include flex-direction(column);
        @include justify-content(flex-start);
        @include align-items(flex-start);
      }

      margin-top: 28px;

      > a {
        @include transition(all, 300ms);
        @include user-select(none);

        margin-right: 48px;
        font-weight: 700;
        text-decoration: none;

        @include tabletandmobile {
          margin-top: 16px;
          margin-right: 0;
        }

        &:nth-child(1) { color: #FF00B8 }
        &:nth-child(2) { color: #FF6F94 }
        &:nth-child(3) { color: #2400FF }

        img {
          margin-right: 10px;
          height: 20px;
        }

        > div {
          @include transition(all, 300ms);

          width: 0;
          margin-left: 0;
          opacity: 0;

          font-weight: 700;
        }

        &:hover {
          cursor: pointer;
          opacity: .5;

          > div {
            width: 24px;
            margin-left: 6px;
            opacity: 1;
          }
        }
        &:active {
          opacity: .25;
        }
      }
    }
  }
}
.mk--divider {
  height: 1px;
  width: 100vw;
  box-shadow: 0px -1px 0 0 rgba(2,0,117,.05);

  margin-top: 208px;
  margin-bottom: 208px;
}
.mk--projects {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 28px;
  list-style: none;
  position: relative;

  margin: 0;
  padding: 0;

  @include tabletandmobile {
    grid-template-columns: 1fr;
  }

  > div.li {
    @include border-radius(20px);
    @include transition(all, 300ms);
    @include user-select(none);

    padding-top: 100%;
    position: relative;

    color: rgba(2,0,117,1);

    &:not(.transparent) {
      border: 4px solid transparent;
      background-color: #F4F7FF;
      &:hover {
        border: 4px solid rgba(2,0,117,1);
        background-color: white;
        label {
          opacity: 1;
        }
      }
    }

    > div {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    img {
      width: 35%;
    }

    label {
      @include transition(all, 300ms);
      position: absolute;
      margin: 0 auto;
      bottom: 28px;
      font-size: 1.2vw;
      font-weight: 800;
      opacity: 0;

      @include tabletandmobile {
        font-size: 8vw;
      }
    }
  }
  button {
    @include transition(all, 200ms);
    @include border-radius(5px);
    @include user-select(none);

    border: none;
    outline: none;
    overflow: hidden;
    position: relative;

    margin-top: 0;
    margin-bottom: 0;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;

    line-height: 32px;
    font-weight: 500;
    font-size: calc(8px + .5vw);

    color: white;
    background: radial-gradient(rgba(255,255,255,0),rgba(255,255,255,.25)), #020075;
    filter: brightness(115%);
    -webkit-filter: brightness(115%);
    -moz-filter: brightness(115%);

    box-shadow: 0 8px 12px 0 rgba(32, 30, 80, .1);

    @include tabletandmobile {
      @include border-radius(12px);
      padding-top: 4vw;
      padding-bottom: 4vw;
      padding-left: 6vw;
      padding-right: 6vw;
      font-size: calc(8px + 5vw);
    }

    > div {
      @include transition(all, 200ms);
      color: rgba(255,255,255, .75);
      font-weight: 600;
      margin-left: 0;
      opacity: 0;
      width: 0px;
      overflow: hidden;
    }

    &:hover {
      cursor: pointer;
      filter: brightness(150%);
      -webkit-filter: brightness(150%);
      -moz-filter: brightness(150%);
      > div {
        opacity: .5;
        width: calc(12px + .5vw);
        overflow: hidden;
        margin-left: 4px;

        @include tabletandmobile {
          width: calc(8px + 5vw);
        }
      }
    }

    &:active {
      transform: translateY(1px);
      filter: brightness(125%);
      -webkit-filter: brightness(125%);
      -moz-filter: brightness(125%);
    }

    &::before {
      content: '';
      display:block;
      height: 100%;
      width: 150%;
      bottom: 30%;
      transform: rotate(17deg);
      // background-color: rgba(255,255,255,.05);
      // box-shadow: 0 2px 8px 0 rgba(255,255,255,.1);
      left: 0;
      position: absolute;

      filter: blur(2px);
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
    }

    &.pos {
      @include transition(all, 500ms);
      color: rgba(63, 56, 81, 1);
      background: linear-gradient(rgba(63, 56, 81, 0) 50%, rgba(63, 56, 81, .1) 75%, rgba(63, 56, 81, .2) 100%), radial-gradient(rgba(63, 56, 81,0) 25%, rgba(63, 56, 81,.3) 100%), #FAF8FF;

      > span {
        color: rgba(63, 56, 81, .75);
      }

      &::before {
        content: '';
        display:block;
        height: 100%;
        width: 150%;
        bottom: 30%;
        transform: rotate(17deg);
        background-color: rgba(63, 56, 81,.05);
        box-shadow: 0 0 16px 0 rgba(63, 56, 81,.05);
        left: 0;
        position: absolute;

        filter: blur(1px);
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
      }
    }
  }
  h3 {
    font-weight: 400;
    margin: 0;
    margin-bottom: 16px;
    font-size: calc(12px + .75vw);
    @include tabletandmobile {
      font-size: calc(12px + 7vw);
      margin-bottom: 10vw;
    }
  }
}
.mk--grafitti {
  @include user-select(none);
  position: absolute;
  top: 12px;
  left: -8vw;

  width: 28px;

  font-size: 64px;
  font-weight: 800;
  text-align: left;

  text-transform: uppercase;
  // transform: rotate(-90deg);


  @include tabletandmobile {
    top: -128px;
    left: 64px;
    width: auto;
    height: 148px;
    transform: rotate(90deg);
  }
}
.mk--writing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 28px;
  list-style: none;
  position: relative;

  margin: 0;
  padding: 0;

  .right {
    @include tabletandmobile {
      margin-top: 48px;
    }
  }

  p { font-size: 24px }

  p, h4 { margin: 0 }

  h4 {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 28px;
  }

  span.entries {
    margin-top: 48px;
    font-size: 20px;
    opacity: .5;
  }

  .item {
    @include transition(all, 300ms);
    @include user-select(none);
    height: 80px;
    width: 100%;
    font-size: 20px;

    border-bottom: 1px solid rgba(2,0,117,.1);

    span:nth-child(2) {
      @include transition(all, 300ms);
      @include user-select(none);
      opacity: 0;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      white-space: nowrap;
    }

    &:hover {
      // background-color: #F4F7FF;
      span:nth-child(2) {
        opacity: 1;
      }
    }

    &:active {
      opacity: .5;
    }
  }

  .break {
    margin-top: 16px;

    width: 100%;
    height: 2px;
    // background-color: rgba(2,0,117,.5);
  }

  @include tabletandmobile {
    grid-template-columns: 1fr;
  }
}
footer {
  padding-bottom: 288px;

  img {
    @include border-radius(1000px);
    height: 108px;
    width: 108px;
  }

  h2, h3 {
    margin: 0;
  }

  h2 {
    font-weight: 500;
    font-size: 28px;
    margin-top: 24px;
  }
  h3 {
    font-size: 24px;
    opacity: .5;
    font-weight: 400;
    margin-bottom: 36px;
  }

  button {
    @include transition(all, 200ms);
    @include border-radius(5px);

    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 400;

    position: relative;
    overflow: hidden;

    background: linear-gradient(192.1deg, rgba(255, 255, 255, 0.125) -16.03%, rgba(255, 255, 255, 0.25) 45.26%, rgba(255, 255, 255, 0.142434) 58.56%, rgba(255, 255, 255, 0.0988974) 67.85%, rgba(255, 255, 255, 0.0520057) 86.88%, rgba(255, 255, 255, 0) 107.89%), radial-gradient(77.15% 68.75% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%), #2400FF;    font-weight: 600;
    color: white;

    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);

    &:hover {
      cursor: pointer;
      filter: brightness(115%);
      -webkit-filter: brightness(115%);
      -moz-filter: brightness(115%);
      > div {
        margin-left: 4px;
        width: 16px;
        opacity: 1;
      }
    }

    &:active {
      opacity: .5;
    }

    &::before {
      content: '';
      display:block;
      height: 100%;
      width: 150%;
      bottom: 30%;
      transform: rotate(20deg);
      background-color: rgba(255,255,255,.07);
      box-shadow: 0 2px 8px 0 rgba(255,255,255,.1);
      left: 0;
      position: absolute;
    }
    > div {
      @include transition(all, 200ms);
      margin-left: 0;
      width: 0;
      overflow: hidden;
      opacity: 0;
      text-align: right;
    }
  }
}
